<% if user_signed_in? %>
  <div class="hero-unit">
    <h1>Check out any of the new events!</h1>
  </div>
 <%= link_to 'Add New Event', new_event_path, class: "btn btn-primary btn-large" %>
  <table class="table table-striped">
      <br/>
    <thead>
      <tr>
        <th>Image</th>
        <th>Title</th>
        <th>Location</th>
        <th>Description</th>
        <th>Posted by</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @events.each do |event| %>    
      <%= render 'event', :event => event %>
    <% end %>
    </tbody>
  </table>
  <br/>
  <%= link_to 'Add New Event', new_event_path, class: "btn btn-primary btn-large" %>
<% else %>
  <%= render 'pages/home' %>
<% end %>