<% if user_signed_in? %>
  <div class="hero-unit">
    <h1>Check out any of the new events!</h1>
  </div>
 
  <table class="table table-striped">
      <br/>
    <thead>
      <tr>
        <th>Image</th>
        <th>Title</th>
        <th>Location</th>
        <th>Description</th>
        <th>Posted by</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @events.each do |event| %>    
      <%= render 'event', :event => event %>
    <% end %>
    </tbody>
  </table>
  <br/>
  
<% else %>
  <%= render 'pages/home' %>
<% end %>