<div class="jumbotron center">
	<h1>New to town? You're not alone.</h1>
	<p class="lead">
		Helping young professionals re-plant their network.
	</p>
	<p>
		<!-- <%= link_to "Join today!", new_user_registration_path, class: "btn btn-primary btn-lg" %> -->
    <%= link_to "Sign up for updates", "http://eepurl.com/H6gfn", class: "btn btn-primary btn-lg" %>
  </p>
</div>	
