<div class="jumbotron">
	<h1>New to town? You're not alone.</h1>
	<p class="lead">
		Helping young professionals re-plant their network.
	</p>
	<p>
		<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
	</p>
</div>	
<hr>
<div class="row-fluid">
	<div class="span4">
  	<h2>Chicago via California</h2>
    <p>
    	Chad is new to Chicago. He recently relocated from San Francisco for work and wants to dive right into the best that his new home has to offer. All he needs is some new friends to show him where to start.   
    </p>
  </div>
	<div class="span4">
    <h2>New to the Neighborhood</h2>
    <p>
    	Jim found a great new apartment in Lincoln Park, but doesn't know anything about the neighborhood. He can't wait to try out the local fare and meet some new people. 
    </p>
	</div>
 	<div class="span4">
  	<h2>Big City Here I Come</h2>
  	<p>
  		Nate is fresh out of undergrad and decided he is going to give Chicago a shot. Excited to make new friends and start his new city life, he would still love to catch a game when his hometown football team comes to town with fellow fans. 
  	</p>
	</div>
</div>