<% if user_signed_in? %>
  <h1>Sign up for any of the following events!</h1>
<% else %>
  <div class="jumbotron">
  	<h1>Welcome to rndzvous!</h1>
  	<p class="lead">
  		Helping young professionals re-plant their network.
  	</p>
  	<p>
  		<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
  	</p>
  </div>	
  <hr>
  <div class="row-fluid">
  	<div class="span4">
    	<h2>Problem</h2>
      <p>
      	We acknowledge the struggles people face in making new friends or connections when they move to a new city.  
      </p>
    </div>
  	<div class="span4">
      <h2>Solution</h2>
      <p>
      	rndzvous web-based service that allows people who have moved to a new city or are looking to make new friends to connect on and off line, explore the city together and forge new bonds
      </p>
  	</div>
   	<div class="span4">
    	<h2>Customers</h2>
    	<p>
    		We are launching soon in Chicago, and are looking for the first community of young professionals looking to make new friends or connections.
    	</p>
  	</div>
  </div>
<% end %>