<div class="footer">
	<small>
		<%= link_to "rndzvous", "https://github.com/cpflores/rndzvous" %> by <%= link_to "Jim Tenzillo", "http://www.linkedin.com/profile/view?id=58006972&authType=NAME_SEARCH&authToken=QzY7&locale=en_US&srchid=451392371375924942779&srchindex=2&srchtotal=3&trk=vsrp_people_res_name&trkInfo=VSRPsearchId%3A451392371375924942779%2CVSRPtargetId%3A58006972%2CVSRPcmpt%3Aprimary" %>, <%= link_to "Nate Pelzer", "http://www.linkedin.com/profile/view?id=68139321&authType=NAME_SEARCH&authToken=z0p0&locale=en_US&srchid=451392371375924998409&srchindex=1&srchtotal=6&trk=vsrp_people_res_name&trkInfo=VSRPsearchId%3A451392371375924998409%2CVSRPtargetId%3A68139321%2CVSRPcmpt%3Aprimary" %> and <%= link_to "Chad Flores", "https://twitter.com/chadpflores" %>
	</small>
</div>